<configuration packagingData="false" debug="true">

	<timestamp key="logDate" datePattern="dd-MM-yyyy" />

	<appender name="LogPinball" class="ch.qos.logback.core.FileAppender">
		<file>C:\dev\logs\logPinball-${logDate}.log</file>
		<append>false</append>
		<immediateFlush>true</immediateFlush>
		
		<encoder>
			<pattern>%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [%method] - %msg%n </pattern>
		</encoder>

	</appender>


	<root level="info">
		<appender-ref ref="LogPinball" />
	</root>

</configuration>